@charset "utf-8";
::-webkit-scrollbar {width: 5px;height: 15px;background-color: transparent;}
::-webkit-scrollbar-thumb {background: #424242;border-radius: 5px;}
::-webkit-scrollbar-track {background-color: transparent;}
.header{height: 60px;width: 100%;background-color: #393D49 !important;border-bottom: 1px solid #404553;position: fixed;top: 0;}
.trans_3{transition: all 0.3s linear;-moz-transition: all 0.3s linear; /* Firefox 4 */-webkit-transition: all 0.3s linear; /* Safari 和 Chrome */-o-transition: all 0.3s linear; /* Opera */  }
.trans_5{transition: all 0.5s linear;-moz-transition: all 0.5s linear; /* Firefox 4 */-webkit-transition: all 0.5s linear; /* Safari 和 Chrome */-o-transition: all 0.5s linear; /* Opera */}
.main{max-width: 1200px;margin: 0 auto;position: relative;}
.layout-top{position: relative;top: 65px;}
.header .layui-nav .layui-nav-item {margin: 0 15px;}
.layui-nav-right .layui-nav-item{margin: 0 !important;}
.logo {position: absolute;left: 0;top: 16px;}
/*.layui-ms{background: #fff !important;}*/
.layui-ms{color: #333 !important;border-bottom: 1px solid #f6f6f6;}
.layui-ms .logo{left: 40px;}
.logo img {width: 142px;height: 31px;}
.layui-ms .layui-tab-left{left: 220px;}
.layui-nav-child dd{text-align: center;}
.layui-tab-card {border: 0;}
.kit-tab{border-bottom: 0;box-shadow: none;}
.kit-tab .layui-tab-title {background-color: #f8f8f8f8 !important;width: calc(100% - 0px);padding-right: 0;z-index: 2;border-top: 1px solid #f6f6f6;border-bottom: 1px solid #f6f6f6;box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);}
.kit-tab .layui-tab-title li{border-right: 1px solid #fff;}
.kit-tab .layui-tab-title li:last-child{border-right:0}
.create-body{width: 100%;top: 80px;bottom: 10px;max-width: 1250px;margin: 0 auto;position: relative;}
.layui-layer-btn-{border-top: 1px solid #eee !important;}
.kit-tab .layui-tab-content iframe {width: 100%;border: 0;}
.kit-tab .kit-tab-tool-body {position: absolute;top: 40px;right: 0px;width: 150px;border: 1px solid #e2e2e2;display: none;background-color: #fff;z-index: 999;}
.layui-layout-admin .layui-body {bottom: 0px;}
.kit-tab .layui-tab-content{padding: 0;}
.layui-layout-admin .kit-sided {width: 50px;}
.layui-layout-admin .kit-body-folded,.layui-layout-admin .kit-footer-folded {left: 50px}
.kit-sided .layui-side-scroll .layui-nav-item {text-align: center}
.kit-side .layui-nav-tree .layui-nav-child a {padding-left: 30px}
.kit-sided .layui-nav-tree .layui-nav-child a {padding-left: 0}
.kit-sided .layui-side-scroll a span, .kit-sided .layui-menu .menu-title span{display: none}
.kit-tab .kit-tab-tool {z-index: 5;position: absolute;width: 40px;height: 40px;top: 10px;right: 0px;border-top: 1px solid #f6f6f6;line-height: 40px;text-align: center;cursor: pointer;}
.kit-tab .kit-tab-tool-body ul {text-align: center;padding: 8px 0;}
.kit-tab .kit-tab-tool-body ul li.kit-item:hover {background-color: #f3f3f3;}
.kit-tab .kit-tab-tool-body ul li.kit-item {line-height: 35px;cursor: pointer;color: #393D49;}
/* 表格下拉框高度属性 */
.engine_table_body .layui-form .layui-anim{height: 150px;}
.engine_table_body .layui-form .layui-input-inline{width: 100%;}
.engine_table_body .layui-input-block{margin-left: 0;  }

/* 文档 */
.document-tree{top: 80px;left: 100px;width: 150px;margin: 0;}
.document-body{top: 80px;left: 260px;}
.site-tree{border-right: 1px solid #eee; }
.site-tree .layui-tree{line-height: 32px;}
.site-tree .layui-tree li i{position: relative; font-size: 22px; color: #000}
.site-tree .layui-tree li a cite{padding: 0 8px;}
.site-tree .layui-tree .site-tree-noicon a cite{padding-left: 15px;}
.site-tree .layui-tree li a em{font-size: 12px; color: #bbb; padding-right: 5px; font-style: normal;}
.site-tree .layui-tree li h2{line-height: 36px; border-left: 5px solid #009E94; margin: 15px 0 5px; padding: 0 10px; background-color: #f2f2f2;}
.site-tree .layui-tree li ul{margin-left: 27px; line-height: 28px;}
.site-tree .layui-tree li ul a,
.site-tree .layui-tree li ul a i{color: #777;}
.site-tree .layui-tree li ul a:hover{color: #333;}
.site-tree .layui-tree li ul li{margin-left: 25px; overflow: visible; list-style-type: disc; /*list-style-position: inside;*/}
.site-tree .layui-tree li ul li cite,
.site-tree .layui-tree .site-tree-noicon ul li cite{padding-left: 0;}

.site-tree .layui-tree .layui-this a{color: #01AAED;}
.site-tree .layui-tree .layui-this .layui-icon{color: #01AAED;}

.site-fix .site-tree{position: fixed; top: 0; bottom: 0; z-index: 666; min-height: 0; overflow: auto;  background-color: #fff;}
.site-fix .site-content{margin-left: 220px;}
.site-fix-footer .site-tree{margin-bottom: 120px;}


.site-title{ margin: 30px 0 20px;}
.site-title fieldset{border: none; padding: 0; border-top: 1px solid #eee;}
.site-title fieldset legend{margin-left: 20px;  padding: 0 10px; font-size: 22px; font-weight: 300;}

.site-text a{color: #01AAED;}
.site-h1{margin-bottom: 20px; line-height: 60px; padding-bottom: 10px; color: #393D49; border-bottom: 1px solid #eee;  font-size: 28px; font-weight: 300;}
.site-h1 .layui-icon{position: relative; top: 5px; font-size: 50px; margin-right: 10px;}
.site-text{position:relative;}
.site-text p{margin-bottom: 10px;  line-height:22px;}
.site-text em{padding: 0 3px; font-weight: 500; font-style: italic; color: #666;}
.site-text code{margin:0 5px; padding: 3px 10px; border: 1px solid #e2e2e2; background-color: #fbfbfb; color: #666; border-radius: 2px;}

.site-table{width: 100%; margin: 10px 0;}
.site-table thead{background-color:#f2f2f2; }
.site-table th,
.site-table td{padding: 6px 15px; min-height: 20px; line-height: 20px; border:1px solid #ddd; font-size: 14px; font-weight: 400;}
.site-table tr:nth-child(even){background: #fbfbfb;}

.site-block{padding: 20px; border: 1px solid #eee;}
.site-block .layui-form{margin-right: 200px;}
/* 辅助 */
.site-tips{margin-bottom: 10px; padding: 15px; line-height: 22px; border-left: 5px solid #0078AD; background-color: #f2f2f2;}
body .site-tips p{margin: 0;}
body .layui-tree-skin-templateTree .layui-tree-branch{color: #2196f3;}
/* 首页 */
.index-body{top: 80px;left: 90px;padding: 10px;}
.td_lable{font-weight: bold;background-color: #f2f2f2;}
.index-body-h2{font-size: 24px;line-height: 40px;}
/*.logo-a{padding:0 20px 0 0 !important;}*/
.logo-img{width:200px;height:45px;}
/* 公共模板 */
.template{color: #08c;}
.template:hover {color: #005580;text-decoration: underline;}
.java-output-input{height: 30px;}
/* 模板详情 */
.code2-layui-top{top: 65px;}